<!DOCTYPE html>
<html lang="en">


  <body>

  <%= render "header" %>  
  <%= render "featured" %>

    <!-- begin:content -->
    <section id="content">
      <div class="container">
        <div class="row">

        <!-- <div class="col-md-12">
            <div class="page-title">
                <h2>Featured Video</h2>
                <br>
           <iframe width="560" height="315" src="https://www.youtube.com/embed/xON-qmCl2cE" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
 -->

            <div class="col-md-12">
                <div class="page-title">
                    <h2>Recent Posts</h2>
                </div>
            </div>
        </div>

        <div class="row container-post">
            <%= render @blog_posts.order("created_at DESC")%>
        </div> 
      </div>
    </section>
    <div class="pager">
        <%= will_paginate @blog_posts %>
    </div>
    <!-- end:content -->

    <!-- begin:portfolio -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Home Recipes</h2>
                </div>
            </div>
        </div>
    </div>
    <section id="portfolio">
        <ul class="container-portfolio">
            <li>
                <div class="portfolio-item">
                    <img src="img/mini-quinchie-breakfast.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Breakfast Foods /</h3>
                            <p>Zammys Gluten Free Breakfast.</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="portfolio-item">
                    <img src="img/lunch-1.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Lunch Foods /</h3>
                            <p>Zammys Gluten Free Lunch Foods.</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="portfolio-item">
                    <img src="img/powered-cake.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Munchies /</h3>
                            <p>Gluten Free snacks to satisfy those munchies.</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="portfolio-item">
                    <img src="img/dinner-1.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Zammys Gluten Free Dinners /</h3>
                            <p>Delicious gluten free alternatives to classic dinner foods.</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="portfolio-item">
                    <img src="img/cupcake-1.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Dessert! /</h3>
                            <p>Enjoy these delicious desserts! Gluten Free!</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="portfolio-item">
                    <img src="img/image-portfolio-06.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Adult Drinks /</h3>
                            <p>Here are the adult drinks that are Gluten Free</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="portfolio-item">
                    <img src="img/image-portfolio-07.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Fast Food /</h3>
                            <p>Best places to go for safe Gluten Free options.</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="portfolio-item">
                    <img src="img/image-portfolio-08.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Dine Out /</h3>
                            <p>Best places to dine out with gluten free options</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <!-- end:portfolio -->
<%= render "partners" %>


    


  
  </body>
</html>