<!DOCTYPE html>
<html lang="en">


  <body>

  <%= render "header" %>  
  <%= render "featured" %>
  <%= render "recent_recipes" %>
  <%= render "recent_blog_posts" %>
  <%= render "home_recipes" %>
  <%= render "partners" %>
  
  </body>
</html>