<!DOCTYPE html>
<html lang="en">


  <body>

  <%= render "header" %>  
  <%= render "featured" %>

    <!-- begin:content -->
    <section id="content">
      <div class="container">
        <div class="row">







            <div class="col-md-12">
                <div class="page-title">
                    <h2>Featured Items</h2>
                </div>
            </div>
        </div>

        <div class="row container-post">
            <!-- begin:article -->
             <div class="col-md-4 col-sm-6">
              <div class="post-container">
                  <div class="post-content">
                    <div class="heading-title heading-small">
                      <h2><a href="#">Our Story</a></h2>
                    </div>
                    <div class="post-meta">
                      <span>By <a href="#" title="Posts by admin" rel="author">Zambrina</a></span>
                      <span>On August 15, 2015</span>
                      <span>In <a href="/about">About</a></span>
                    </div>
                       <p class="blog-post-content">Hello I am Zambrina, but you can call me Zam. With help from my son, I have started this blog to help the gluten free community. My son was diagnosed with celiac disease a few years ago. With his diagnosis came very strict dietary guidelines. Thus cooking delicious food seemed impossible! And there were not many gluten free recipes on the web yet, so I will share with you what I have found. And maybe you can share this with your friends or people who may need it, so that together we can <strong>share</strong> - <strong>love</strong> - and <strong>eat</strong>.</p>
                       <div class="post-link">
                            <a href="/about"><span>Read more</span></a>
                        </div>

                  </div>
                  <div class="post-atribut">
                      <div class="row">
                          <div class="col-md-4 col-sm-4 col-xs-4">
                              <a href="/about"><span><i class="fa fa-heart"></i>  <%= %></span></a>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-4">
                              <a href="/about"><span><i class="fa fa-comments"></i>  <%=  %></span></a>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-4">
                              <a href="/about"><span><i class="fa fa-eye"></i>  <%=  %></span></a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <%= render @blog_posts.order(:id).reverse %>
         
        </div> 
        <!-- end:article -->
      </div>
    </section>
    <div class="pager">
        <%= will_paginate @blog_posts %>
    </div>
    <!-- end:content -->

    <!-- begin:portfolio -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Home Recipes</h2>
                </div>
            </div>
        </div>
    </div>
    <section id="portfolio">
        <ul class="container-portfolio">
            <li>
                <div class="portfolio-item">
                    <img src="img/mini-quinchie-breakfast.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Breakfast Foods /</h3>
                            <p>Zammys Gluten Free Breakfast.</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="portfolio-item">
                    <img src="img/lunch-1.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Lunch Foods /</h3>
                            <p>Zammys Gluten Free Lunch Foods.</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="portfolio-item">
                    <img src="img/powered-cake.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Munchies /</h3>
                            <p>Gluten Free snacks to satisfy those munchies.</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="portfolio-item">
                    <img src="img/dinner-1.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Zammys Gluten Free Dinners /</h3>
                            <p>Delicious gluten free alternatives to classic dinner foods.</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="portfolio-item">
                    <img src="img/cupcake-1.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Dessert! /</h3>
                            <p>Enjoy these delicious desserts! Gluten Free!</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="portfolio-item">
                    <img src="img/image-portfolio-06.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Adult Drinks /</h3>
                            <p>Here are the adult drinks that are Gluten Free</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="portfolio-item">
                    <img src="img/image-portfolio-07.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Fast Food /</h3>
                            <p>Best places to go for safe Gluten Free options.</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="portfolio-item">
                    <img src="img/image-portfolio-08.jpg" class="img-responsive" alt="portfolio danish personal blog template">
                    <div class="portfolio-caption">
                        <div class="portfolio-text">
                            <h3>Dine Out /</h3>
                            <p>Best places to dine out with gluten free options</p>
                            <a href="#" class="btn btn-danish">View &raquo;</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <!-- end:portfolio -->
<%= render "partners" %>


    


  
  </body>
</html>