

<%= form_for(@comment) do |f| %>

<div class="row white-text">
  <div class="col-md-6 col-md-offset-3">
      <%= render 'shared/error_messages' %>
      <% if current_user != nil %>

      <%= f.label :comment %>
      <%= f.text_area :comment, cols: "97", rows: "5" %>
      <br>

      <%= f.hidden_field :user_id, :value => current_user.id %>

      <%= f.hidden_field :date, :value => DateTime.now %>

      <%= f.hidden_field :votes, :value => 1 %>

      <%= f.hidden_field :title, :value => "#{User.find(current_user.id).username}'s comment on #{DateTime.now}" %>
      <%= @user_post %>
      <% if @user_post != nil %>
      <%= f.hidden_field :user_post_id, :value => @user_post.id %>
      <% elsif @blog_post != nil %>
      <%= f.hidden_field :blog_post_id, :value => @blog_post.id %>
      <% elsif @recipe != nil %>
      <%= f.hidden_field :recipe_id, :value => @recipe.id %>
      <% end %>



    <div class="create-comment-div">
      <%= f.submit "comment", class: "btn btn-info create-comment" %>
    </div>
      <% else %>
      <p align="center">To comment, please log in <a href="/login">here</a>.</p>
      <% end %>
  </div>
</div>
<% end %>

