<% if current_admin %>

<%= form_for(@visit) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br><br><br>
<br><br><br>
<br><br><br>

<div class="row white-text">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@visit) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :ipaddress %>
      <%= f.text_field :ipaddress, class: 'form-control' %>

      <%= f.label :nickname %>
      <%= f.text_field :nickname , class: 'form-control' %>
      <br>
      <div class="create-account">
      <%= f.submit "submit", class: "btn btn-primary sign-up-button" %>
    </div>
    <% end %>
  </div>
</div>

<% end %>

<% end %>