<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row white-text">
  <div class="col-md-6 col-md-offset-3">
      <%= render 'shared/error_messages' %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :difficulty %>
      <%= f.text_field :difficulty, class: 'form-control' %>

      <%= f.label :time %>
      <%= f.text_field :time, class: 'form-control' %>

      <%= f.label :taste_rating %>
      <%= f.text_field :taste_rating, class: 'form-control' %>

      <%= f.label :confirmed_gf %>
      <%= f.text_field :confirmed_gf, class: 'form-control' %>
      <br>
      <%= f.label :placement %>
      <%= f.select :placement, [ 'breakfast', 'lunch', 'dinner' ], :prompt => 'Select One', class: 'form-control'  %>

      <%= f.hidden_field :user_id, :value => current_user.id %>

      <br>
      <div class="create-account">
      <%= f.submit "Save Info", class: "btn btn-primary sign-up-button" %>
    </div>
  </div>
</div>

<% end %>
