<%= form_for(@ingredient) do |f| %>

<div class="row white-text">
  <div class="col-md-6 col-md-offset-3">
      <%= render 'shared/error_messages' %>

      <%= f.label :amount %>
      <%= f.text_field :amount, class: 'form-control' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>


      <%= f.hidden_field :recipe_id, :value => @recipe.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>


      </script>
      <div class="create-account">
      <%= f.submit "Save ingredient", class: "btn btn-primary sign-up-button" %>
    </div>

  </div>
</div>

<% end %>