<%= form_for(@step) do |f| %>

<div class="row white-text">
  <div class="col-md-6 col-md-offset-3">
      <%= render 'shared/error_messages' %>

      <%= f.label :step %>
      <%= f.text_field :step, class: 'form-control' %>

      <%= f.label :image %>
      <%= f.text_field :image, class: 'form-control' %>

      <%= f.label :link %>
      <%= f.text_field :link, class: 'form-control' %>

      <%= f.hidden_field :recipe_id, :value => @recipe.id %>
      <%= f.hidden_field :title, :value => @recipe.title %>
      <%= f.hidden_field :user_id, :value => current_user.id %>


      </script>
      <div class="create-account">
      <%= f.submit "Save Step", class: "btn btn-primary sign-up-button" %>
    </div>

  </div>
</div>

<% end %>
