<!-- Full Recipe page -->

<div class="top-user-show">
</div>
<section id="content">
  <div class="container">

  <div class="col-md-6 col-sm-6">
    <div class="post-container">
      <div class="post-content no-padding" align="center">
        <h2><%= @recipe.title %></h2>
        <h5><small><%= @recipe.placement %> Foods</small></h5>
        <% if current_user %>
        <% if like = Like.find_by(recipe_id: @recipe.id, user_id: current_user.id) %>

            <% if like.bool == true %>
              <div class="btn btn-success">
                You Like This
              </div>

              <%= link_to 'Dislike', downvote_recipe_path(@recipe), method: :post, class: "btn btn-danger" %>

            <% elsif like.bool == false %>
              <div class="btn btn-danger">
                You Dislike This
              </div>

              <%= link_to 'Like', upvote_recipe_path(@recipe), method: :post, class: "btn btn-success" %>

            <% end %>

          <% else %>
        <div class="voters">
          <%= link_to '+1', upvote_recipe_path(@recipe), method: :post, class: "btn btn-success" %>
          <%= link_to '-1', downvote_recipe_path(@recipe), method: :post, class: "btn btn-danger" %>
        </div>
          <% end %>
        <% else %>
        <div class="voters">
          <p align="center">To rate, please log in <a href="/login">here</a>.</p>
        </div>
        <% end %>
      </div>


    <div class="post-content">
        <div class="diff-rate">
          <small><%= self.determine_diff(@recipe.difficulty.to_i) %></small>
          <% @recipe.difficulty.to_i.times do |star| %> 
              <i class="fa fa-exclamation"></i> 
          <% end %>
        </div>
      <p class="content">

        <% @recipe.steps.order(:id).each do |step| %>
        <p class="single-step"><%= step.step %>
          <% if current_admin %>
              <%= link_to 'Edit', edit_step_path(step) %>
          <% end %>
        </p>
        <% end %>

        <% if current_admin %>
            <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
            <%= link_to 'Back', recipes_path %>
        <% end %>

        </div>
      </div>
    </div>

  <div class="col-md-6 col-sm-6">
    <div class="post-container">
      <div class="post-content recipe-image">
          <img src="<%= @recipe.image %>" alt="Image not available" >
      </div>
    </div>
  </div>
</div>
</section>

<h3 align="center">Top Comments</h3>
<div class="comments-area">
  <%= render @comments.order("created_at DESC")%>
  <%= will_paginate @comments %>
</div>
<div class="make-comment">
  <%= render "comments/form"%>
</div>
