<div class="col-md-4 col-sm-6">
  <div class="post-container">
      <div class="post-content no-padding blog-post-image">
        <a href="/blog_posts/<%= blog_post.id %>">
          <img src="<%=blog_post.image_url%>" alt="Image not available" >
        </a>
      </div>
      <div class="post-content">
          <p class="blog-post-content"><%= blog_post.blog_content %></p>
      <div class="post-link">
          <a href="/blog_posts/<%= blog_post.id %>"><span>Read more</span></a>
      </div>
      </div>
      <div class="post-atribut">
          <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4">
                  <a href="/blog_posts/<%= blog_post.id %>"><span><i class="fa fa-heart"></i>  <%= blog_post.votes %></span></a>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
                  <a href="/blog_posts/<%= blog_post.id %>"><span><i class="fa fa-comments"></i>  <%= blog_post.comments.count %></span></a>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
                  <a href="/blog_posts/<%= blog_post.id %>"><span><i class="fa fa-eye"></i>  <%= blog_post.views %></span></a>
              </div>
          </div>
      </div>
  </div>
</div>