<div class="top-user-show">
</div>

<h1><%= @blog_post.title %></h1>
<h2><%= @blog_post.date %></h2>
<h3><%= @blog_post.user_id %></h3>
<p><%= @blog_post.blog_content %></p>

<h1> hello </h1>

<% if current_user.admin == "125905" %>
<%= link_to 'Edit', edit_blog_post_path(@blog_post) %>

<% end %>
