<% if food == nil %>
<% food = @food %>
<% end %>


<!-- paginated foods -->

<div class="col-md-4 container">

  <div class="post-container">

    <div class="thumbnail recipe-image">
        <a href="/foods/<%= food.id%>">
          <img src="<%=food.image %>" alt="Image not available" style="height: 200px" >
        </a>
    </div>

      <div class="post-content recipe" align="center">
        <h2 align="center"><%= food.name %></h2>
        <% food.taste.to_i.times do |star| %>
        <i class="fa fa-star"></i> 
        <% end %>
          <p class="recipe-post-content">
            description
          </p>
      </div>


        <div class="post-link recipe-post-link">
            <a href="/foods/<%= food.id%>"><span>More Info</span></a>
        </div>

      <div class="post-atribut recipe-atribut">
          <div class="row">

              <div class="col-md-4 col-sm-4 col-xs-4">
                  <a href="/foods/<%= food.id%>"><span><i class="fa fa-money" style="color: green"></i>  $<%= food.price%> <small>est.</small></span></a>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-4">
                  <a href="/foods/<%= food.id%>"><span><i class="fa fa-comments"></i>  <%= %></span></a>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-4">
                  <a href="/foods/<%= food.id%>"><span><i class="fa fa-eye"></i>  <%= food.views%></span></a>
              </div>
          </div>
      </div>

  </div>

</div>
