<%= render "layouts/topper_and_back_btn" %>
<%= form_for(@food) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br><br>
<br><br><br><br>
<div class="row white-text">
  <div class="col-md-6 col-md-offset-3">
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control'%>

      <%= f.label :confirmed_gf %>
      <%= f.text_field :confirmed_gf, class: 'form-control' %>

      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>

      <%= f.label :taste %>
      <%= f.text_field :taste, class: 'form-control' %>

      <%= f.label :difficulty %>
      <%= f.text_field :difficulty, class: 'form-control' %>

      <%= f.label :where_to_find %>
      <%= f.text_field :where_to_find, class: 'form-control' %>

      <%= f.label :image %>
      <%= f.text_field :image, class: 'form-control' %>

      <%= f.label :placement %>
      <%= f.select :placement, [ 'breakfast', 'breakfast/lunch', 'lunch', 'lunch/dinner', 'dinner', 'dessert' ], :prompt => 'Select One', class: 'form-control'  %>


      <br>
      <div class="create-account">
      <%= f.submit "Create food item", class: "btn btn-primary sign-up-button" %>
    </div>
  </div>
</div>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<% end %>
